<script src="/cdm_chie/cdm/js/jquery-3.3.1.min.js"></script>

<script src="/cdm_chie/cdm/custom/js/pentaho_utilities.js"></script>
<script src="/cdm_chie/cdm/js/lodash.min.js"></script>
<script src="/cdm_chie/cdm/js/jquery-migrate-3.0.0.min.js"></script>
<script src="/cdm_chie/cdm/js/jquery-ui.js"></script>
<script src="/cdm_chie/cdm/js/tooltip.min.js"></script>
<script src="/cdm_chie/cdm/js/bootstrap.js"></script>
<script src="/cdm_chie/cdm/js/bootstrap-treeview.js"></script>
<script src="/cdm_chie/cdm/js/moment.min.js"></script>
<script src="/cdm_chie/cdm/js/bootstrap-datetimepicker.js"></script>
<link href="/cdm_chie/cdm/content/css/pentaho_custom.css" rel="stylesheet">

<nav data-load="header.html"></nav>
<!-- /subnavbar -->
<div class="main" style="display: none;">
  <div class="main-inner">
    <div class="container">
      <div class="row">

<script src="/cdm_chie/cdm/js/jquery-3.3.1.min.js"></script>

<script>
function removeLoading() {
	$("#analyticsTab").addClass("active");
	$("#loading").fadeOut("slow");
	$(".hiddenWhileLoading").fadeIn("slow");
};

function cambiarPortal(){
		$("#loading").show();
		$("#graficas").load('Analytics8b.html', function(){
			removeLoading();
		});
		return true;
	}

function fechaEspanol(fecha){
	fechaSplit=fecha.split("-");
	fechaCambiada=fechaSplit[2] + "-" + fechaSplit[1] + "-" + fechaSplit[0];
	return fechaCambiada;
}

function comprobarFechas(){
	var respuesta=true;
	var hoy = new Date();
	if($("#fechainicio").val()!=""){
		var fechaI = new Date($("#fechainicio").val());
	}else{
		var fechaAux = new Date();
		fechaI = new Date(fechaAux.setDate(hoy.getDate() - 30));
	}
	if($("#fechafin").val()!=""){
		var fechaF = new Date($("#fechafin").val());
	}else{
		var fechaF = new Date();
	}
	if(fechaI > hoy || fechaI > fechaF || fechaF < fechaI){
		$("#errorFechas").show();
		respuesta=false;
	}else{
		$("#errorFechas").hide();
	}
	return respuesta;
}

function calculoFechas(){
if(comprobarFechas()){
		if($("#fechainicio").val()=="" && $("#fechafin").val()==""){
			textofechas=" &uacute;ltimos 30 d&iacute;as";
		}else if($("#fechainicio").val()=="" && $("#fechafin").val()!=""){
			textofechas=" desde hace 30 d&iacute;as hasta el " + fechaEspanol($("#fechafin").val());
		}else if($("#fechainicio").val()!="" && $("#fechafin").val()==""){
			textofechas=" desde el " + fechaEspanol($("#fechainicio").val());
		}else if($("#fechainicio").val()!="" && $("#fechafin").val()!="" && $("#fechainicio").val()==$("#fechafin").val()){
			textofechas=" el " + fechaEspanol($("#fechainicio").val());
		}else if($("#fechainicio").val()!="" && $("#fechafin").val()!="" && $("#fechainicio").val()!=$("#fechafin").val()){
			textofechas=" desde el " + fechaEspanol($("#fechainicio").val()) + " hasta el " + fechaEspanol($("#fechafin").val());
		}
		$(".fechasmostradas").html(textofechas);
	}
}
	
function cambioFechaInicio(){
		$("#loading").show();
		calculoFechas();
		$("#graficas").load('Analytics8b.html', function(){
			removeLoading();
		});
		return true;
}
function cambioFechaFin(){
	$("#loading").show();
	calculoFechas();
	$("#graficas").load('Analytics8b.html', function(){
			removeLoading();
		});
	return true;
}

$(document).ready(function() {
	(function(w,d,s,g,js,fs){
	  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
	  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
	  js.src='https://apis.google.com/js/platform.js';
	  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
	}(window,document,'script'));
	
	$("#php").load("/cdm_chie_utils/autorizacion.php"); 

});
</script>


<!-- Step 2: Load the library. -->


<div id="errorFechas" style="display:none">ERROR: Las fechas introducidas no son correctas.</div>
	<select name="portal" id="portal" onchange="Javascript:cambiarPortal();">
		<option value="182329560">Agora</option>
		<option value="182377306">Atenci&oacute;n a la ciudadania</option>
		<option value="182376305" selected>Cita previa</option>
		<option value="177682673">Ciudadania App</option>
		<option value="177672797">Ciudadania Web</option>
		<option value="182330892">Consulta de gastos y pagos</option>
		<option value="181327830">Extranet</option>
		<option value="182366599">Formulario Web de CEIS</option>
		<option value="182332611">Intranet ATRIAND</option>
		<option value="182378779">Intranet CHAP</option>
		<option value="182375267">MADEJA</option>
		<option value="182369471">OVCTIC</option>
		<option value="181307120">Portal de la Agencia Tributaria</option>
		<option value="181284835">Portal institucional CHAP (antiguo)</option>
		<option value="182360253">Registro de actividades bienes intereses y retribuciones</option>
		<option value="191453937">Portal institucional CHIE</option>
	</select>

<input type="date" name="fechainicio" id="fechainicio" onchange="Javascript:cambioFechaInicio()"/>
<input type="date" name="fechafin" id="fechafin" onchange="Javascript:cambioFechaFin()" />

<div class="widget">
	<div class="widget-header"> <i class="icon-group"></i>
	  <h3>Visitantes  <span class="fechasmostradas">&uacute;ltimos 30 d&iacute;as</span></h3>
	</div>
	<div id="chart-1-container" class="widget-content"></div>
</div>

<div class="widget">
	<div class="widget-header"> <i class="icon-screenshot"></i>
	  <h3>Visitantes &uacute;nicos  <span class="fechasmostradas">&uacute;ltimos 30 d&iacute;as</span></h3>
	</div>
	<div id="chart-2-container" class="widget-content"></div>
</div>

<div class="widget">
	<div class="widget-header"> <i class="icon-eye-open"></i>
	  <h3>N&uacute;mero de p&aacute;ginas vistas  <span class="fechasmostradas">&uacute;ltimos 30 d&iacute;as</span></h3>
	</div>
	<div id="chart-3-container" class="widget-content"></div>
</div>

<div class="widget">
	<div class="widget-header"> <i class="icon-trophy"></i>
	  <h3>P&aacute;ginas m&aacute;s visitadas  <span class="fechasmostradas">&uacute;ltimos 30 d&iacute;as</span></h3>
	</div>
	<div id="chart-4-container" class="widget-content"></div>
</div>

<div class="widget">
	<div class="widget-header"> <i class="icon-calendar"></i>
	  <h3>Resumen  <span class="fechasmostradas">&uacute;ltimos 30 d&iacute;as</span></h3>
	</div>
	<div id="resumen" class="widget-content">
		<div id="izquierda">
			<div id="chart-5-container"></div>
		</div>
		<div id="derecha">
			<div id="chart-6-container"></div>
			<div id="chart-7-container"></div>
			<div id="chart-8-container"></div>
		</div>
		<div id="chart-9-container"></div>
	</div>
</div>

<div id="php"></div><!-- capa en la que cargamos el fichero de autenticación -->
<div id="graficas"></div><!-- capa en la que cargamos el fichero Analticsb.html, en el cual se cargar los datos de las graficas  -->



 </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>
<!-- /main -->
</div>
<!-- /extra -->
<footer data-load="footer.html"></footer>


