 <meta charset="UTF-8" />
<script src="/cdm_chie/cdm/js/jquery-3.3.1.min.js"></script>
<script src="/cdm_chie/cdm/js/datatables.min.js"></script>
<link href="/cdm_chie/cdm/css/datatables.min.css" rel="stylesheet">
<script src="/cdm_chie/cdm/custom/js/pentaho_utilities.js"></script>
<script src="/cdm_chie/cdm/js/lodash.min.js"></script>
<script src="/cdm_chie/cdm/js/jquery-migrate-3.0.0.min.js"></script>
<script src="/cdm_chie/cdm/js/jquery-ui.js"></script>
<script src="/cdm_chie/cdm/js/popper.min.js"></script>
<script src="/cdm_chie/cdm/js/tooltip.min.js"></script>
<script src="/cdm_chie/cdm/js/bootstrap.js"></script>
<script src="/cdm_chie/cdm/js/moment.min.js"></script>
<script src="/cdm_chie/cdm/js/moment-with-locales.js"></script>
<script src="/cdm_chie/cdm/js/daterangepicker.min.js"></script>
<script src="/cdm_chie/cdm/js/bootstrap-datetimepicker.js"></script>
<script src="/cdm_chie/cdm/js/pqselect.min.js"></script>
<script src="/cdm_chie/cdm/js/numeral.min.js"></script>
<script src="/cdm_chie/cdm/custom/js/pentaho_charts.js"></script>
<script src="/cdm_chie/cdm/content/js/bsm.js"></script>

<!-- Load d3.js and c3.js -->
<script src="/cdm_chie/cdm/js/d3.v5.min.js" charset="utf-8"></script>
<script src="/cdm_chie/cdm/js/c3.min.js"></script>

<style>
	.return{
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		cursor: pointer;
		float: right;
		font-size: 16pt !important;
		margin-right: 1em !important;
		margin-top: 10px !important;
	}
</style>

<link href="/cdm_chie/cdm/content/css/pentaho_custom.css" rel="stylesheet">

<nav data-load="header.html"></nav>
<!-- /subnavbar -->
<div class="main" style="display: none;">
  <div class="main-inner">
    <div class="container">
      <div class="row">
	  
		  <div class="span12">
				<ul class="nav nav-tabs" id="tabs" role="tablist" style="position: relative;">
					<li class="nav-item" style="float:right;">
						<div class="input-group date" id="ReportingPeriodCalendar" data-provide="datepicker">
						<input type="text" class="form-control">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>
					</li>				
					<li class="nav-item">
						<div class="filter">
							<select id="Aplicacion_Select" type="multiple" name="Aplicación" multiple="multiple" class="pq-select"></select>
						</div>
					</li>
				</ul>
			</div>
          <!-- /widget -->	
		  
		<div class="span6">
          <div class="widget">
            <div class="widget-header"> <i class="icon-calendar"></i>
              <h3> Evolución de la disponibilidad </h3>
            </div>
            <!-- /widget-header -->
            <div id="test" class="widget-content">
			<!-- /area-chart --> 
            </div>
            <!-- /widget-content --> 
          </div>
		  <!-- /widget -->	
		  </div>
		  <div class="span6">
          <div class="widget">
            <div class="widget-header"> <i class="icon-cloud"></i>
              <h3> Disponibilidad  por aplicación</h3>
            </div>
            <!-- /widget-header -->
            <div id="AvailabilityAppChart" class="widget-content">
			<!-- /area-chart --> 
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget -->
		</div>
		<div class="span6">
          <div class="widget">
            <div class="widget-header"> <i class="icon-calendar"></i>
              <h3> Evolución del rendimiento </h3>
            </div>
            <!-- /widget-header -->
            <div id="rendimientoChart" class="widget-content">
			<!-- /area-chart --> 
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget -->
		</div>
		<div class="span6">
          <div class="widget">
            <div class="widget-header"> <i class="icon-cogs"></i>
              <h3> Rendimiento por aplicación </h3><i id="returnButton" title="Volver" class="icon-share-alt return" style="display:none;" ></i>
            </div>
            <!-- /widget-header -->
			
            <div id="rendimientoAppChart" class="widget-content">
			<!-- /area-chart --> 
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget -->
		</div>
   
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>
<!-- /main -->
</div>
<!-- /extra -->
<footer data-load="footer.html"></footer>
