


<script src="/cdm_chie/cdm/js/jquery-3.3.1.min.js"></script>
<script src="/cdm_chie/cdm/custom/js/pentaho_utilities.js"></script>
<script src="/cdm_chie/cdm/js/lodash.min.js"></script>
<script src="/cdm_chie/cdm/js/jquery-migrate-3.0.0.min.js"></script>
<script src="/cdm_chie/cdm/js/jquery-ui.js"></script>
<script src="/cdm_chie/cdm/js/popper.min.js"></script>
<script src="/cdm_chie/cdm/js/tooltip.min.js"></script>
<script src="/cdm_chie/cdm/js/bootstrap.js"></script>
<script src="/cdm_chie/cdm/js/moment.min.js"></script>
<script src="/cdm_chie/cdm/js/moment-with-locales.js"></script>
<script src="/cdm_chie/cdm/js/bootstrap-datetimepicker.js"></script>
<script src="/cdm_chie/cdm/js/pqselect.min.js"></script>
<script src="/cdm_chie/cdm/js/numeral.min.js"></script>
<script src="/cdm_chie/cdm/custom/js/pentaho_charts.js"></script>
<script src="/cdm_chie/cdm/content/js/dashboardANS.js"></script>

<link href="/cdm_chie/cdm/content/css/pages/dashboardANS.css" rel="stylesheet">

<script src="/cdm_chie/cdm/js/d3.v5.min.js" charset="utf-8"></script>
<script src="/cdm_chie/cdm/js/c3.min.js"></script>

<nav data-load="header.html"></nav>
<!-- /subnavbar -->
<div class="main" style="display: none;">
  <div class="main-inner">
    <div class="container">	
      <div class="row">
		<div class="span12">
			<ul class="nav nav-tabs" id="tabs" role="tablist" style="position: relative;">
				<li class="nav-item" style="float:right;">
					<div class="input-group date" id="ReportingPeriodCalendar" data-provide="datepicker">
						<input type="text" class="form-control">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>
				</li>
			</ul>
          <div class="widget">
            <div class="widget-header"> <i class="icon-signal"></i>
              <h3> Resumen ANS </h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">

				<div class="col-md-12" style="margin: 0 auto;">
					<table id="table" class="table">
						<thead>
							<tr id="copyValue" style="height: 0px !important">
								<th class='title' style="width: 140px; height: 0px">Indicador ANS</th>
								<th class='title' style="width: 100px; height: 0px">Evoluci&oacute;n</th>
								<th class='title' style="width: 21px; height: 0px">Objetivo</th>
								<th class='title' style="width: 25px; height: 0px">Valor</th>
								<th class='title' style="width: 15px; height: 0px">Estado</th>
								<th class='title' style="width: 15px; height: 0px">Tendencia</th>
							</tr>
							<tr id="header" style="display: none; background-color: white; z-index: 1000;">
								<th class='title' style="width: 140px; height: 0px">Indicador ANS</th>
								<th class='title' style="width: 100px; height: 0px">Evoluci&oacute;n</th>
								<th class='title' style="width: 21px; height: 0px">Objetivo</th>
								<th class='title' style="width: 21px; height: 0px">Valor</th>
								<th class='title' style="width: 15px; height: 0px">Estado</th>
								<th class='title' style="width: 15px; height: 0px">Tendencia</th>
							</tr>

						</thead>
						<tbody></tbody>
					</table>
				</div>
		<!-- /area-chart --> 
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget -->
		</div>
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>
<!-- /main -->
</div>
<!-- /extra -->
<footer data-load="footer.html"></footer>
