<meta charset="UTF-8" />
<script src="/cdm_chie/cdm/js/jquery-3.3.1.min.js"></script>

<script src="/cdm_chie/cdm/js/datatables.min.js"></script>
<link href="/cdm_chie/cdm/css/datatables.min.css" rel="stylesheet">

<script src="/cdm_chie/cdm/custom/js/pentaho_utilities.js"></script>

<script src="/cdm_chie/cdm/js/lodash.min.js"></script>
<script src="/cdm_chie/cdm/js/jquery-migrate-3.0.0.min.js"></script>
<script src="/cdm_chie/cdm/js/jquery-ui.js"></script>
<script src="/cdm_chie/cdm/js/popper.min.js"></script>
<script src="/cdm_chie/cdm/js/tooltip.min.js"></script>
<script src="/cdm_chie/cdm/js/bootstrap.js"></script>
<script src="/cdm_chie/cdm/js/bootstrap-treeview.js"></script>
<script src="/cdm_chie/cdm/js/moment.min.js"></script>
<script src="/cdm_chie/cdm/js/moment-with-locales.js"></script>
<script src="/cdm_chie/cdm/js/daterangepicker.min.js"></script>
<script src="/cdm_chie/cdm/js/bootstrap-datetimepicker.js"></script>
<script src="/cdm_chie/cdm/js/pqselect.min.js"></script>
<script src="/cdm_chie/cdm/js/numeral.min.js"></script>
<script src="/cdm_chie/cdm/custom/js/pentaho_charts.js"></script>
<script src="/cdm_chie/cdm/content/js/economicoTEO.js"></script>

<!-- Load d3.js and c3.js -->
<script src="/cdm_chie/cdm/js/d3.v5.min.js" charset="utf-8"></script>
<script src="/cdm_chie/cdm/js/c3.min.js"></script>



<link href="/cdm_chie/cdm/content/css/pentaho_custom.css" rel="stylesheet">

<nav data-load="header.html"></nav>
<!-- /subnavbar -->
<div class="main" style="display: none;">
  <div class="main-inner">
    <div class="container">
      <div class="row">
	  	<div class="span12">
			<ul class="nav nav-tabs" id="tabs" role="tablist" style="position: relative;">
				<li class="nav-item" style="float:right;">
					<div class="input-group date" id="IconReportingPeriod">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>
				</li>
				
				<li class="nav-item" style="float:right;">
					<div id="ReportingPeriodRange">
					<span class="input-group-addon"><input type="text" class="form-control"></span>
					</div>
				</li>
				
				
				<li class="nav-item">
					<div class="filter">
						<select id="Contrato_Select" type="multiple" name="Contrato" multiple="multiple" class="pq-select"></select>
					</div>
				</li>
				<li class="nav-item">
					<div class="filter">
						<select id="Proyecto_Select" type="multiple" name="Proyecto" multiple="multiple" class="pq-select"></select>
					</div>
				</li>
				<li class="nav-item">
					<div class="filter">
						<select id="Estado_Select" type="multiple" name="Estado" multiple="multiple" class="pq-select"></select>
					</div>
				</li>
				<li class="nav-item">
					<div class="filter">
						<select id="Version_Select" type="multiple" name="Version" multiple="multiple" class="pq-select"></select>
					</div>
				</li>
				<li class="nav-item">
					<div class="filter">
						<select id="DesvTiempo_Select" type="single" name="Desv. Tiempo" class="pq-select"></select>
					</div>
				</li>
				<li class="nav-item">
					<div class="filter">
						<select id="DesvImporte_Select" type="single" name="Desv. Importe" class="pq-select"></select>
					</div>
				</li>
			</ul>
          <div class="widget">
            <div class="widget-header"> <i class="icon-list"></i>
              <h3> Seguimiento econ&oacute;mico TEO </h3>
            </div>
            <!-- /widget-header -->
            <div id="tableWidget" class="widget-content">
			<!-- /area-chart --> 
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget -->
		</div>
		<div class="span6">
          <div class="widget">
            <div class="widget-header"> <i class="icon-credit-card"></i>
              <h3> Desglose por tipo de importe </h3> 
            </div>
            <!-- /widget-header -->
            <div id="piechartstate" class="widget-content">
			<!-- /area-chart --> 
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget -->
		</div>
		<div class="span6">
          <div class="widget">
            <div class="widget-header"> <i class="icon-sitemap"></i>
              <h3> Desglose por categoria </h3>
            </div>
            <!-- /widget-header -->
            <div id="piechartcategory" class="widget-content">
			<!-- /area-chart --> 
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget -->
		</div>
		<div class="span12">
          <div class="widget">
            <div class="widget-header"> <i class="icon-tasks"></i>
              <h3> Desglose por proyecto </h3>
            </div>
            <!-- /widget-header -->
            <div id="histogram" class="widget-content">
			<!-- /area-chart --> 
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget -->
		</div>
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>
<!-- /main -->
<footer data-load="footer.html"></footer>
