<script>
$(document).ready(function(){
	$("[data-load]").each(function(){
		$(this).load($(this).data("load"), function(){
			$("#homeTab").addClass("active");
			removeLoading();
			$(".main").fadeIn();
			$("#userLogged").text(window.SESSION_NAME);
		});
	});

});

function removeLoading() {
	$("#loading").fadeOut(3000);
	$(".hiddenWhileLoading").fadeIn("slow");
};
	
</script>
<style>
	.mainMenu {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		text-align:center;
	}

	.mainMenu li {
		display:inline;
	}

	.mainMenu li a {
		display:inline-block;
		padding:10px;
	}
	
	.main{
		margin-top: 5%;
		margin-bottom: 20%;
		/*background-color: #dadada;*/
	}
	
	.disabled {
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
	}

</style>
<nav data-load="/cdm_chie/cdm/content/header.html"></nav>
<div class="main" style="display: none;">
<p class="welcome">Bienvenido al Cuadro de Mando de la Consejería de Economía, Hacienda y Administración Pública</p>
	<p>Cuadro de Mando corporativo que permite llevar a cabo el seguimiento del servicio proporcionado en los diferentes proyectos de la Consejería.
	<ul>
	<li>Google Analytics: Es una herramienta de analítica web de la empresa Google. Ofrece información agrupada del tráfico que llega a los sitios web según la audiencia, la adquisición, el comportamiento y las conversiones que se llevan a cabo en el sitio web.</li>

	<li>Nagios: Es un sistema de monitorización de redes ampliamente utilizado, de código abierto, que vigila los equipos (hardware) y servicios (software) que se especifiquen, alertando cuando el comportamiento de los mismos no sea el deseado.</li>

	<li>Business Service Management (BSM): Disciplina que hace explícita la relación entre los componentes de la infraestructura informática -hardware, líneas de comunicación, bases de datos, etcétera- y los servicios de negocio a los que dan soporte -ventas, facturación o producción, etc.-, mejorando la capacidad de la empresa de gestionar de forma efectiva su infraestructura informática dentro del contexto de la gestión del negocio.</li>

	<li>NAOS: Aplicación web que da soporte a todo el ciclo de vida de las peticiones e incidencias por parte de los usuarios, desde la apertura del problema hasta su cierre.</li>

	<li>TEO (gestor integral de proyectos): Herramienta de gestión de las órdenes de trabajo del servicio.</li>
</p>
</div>
<nav data-load="/cdm_chie/cdm/content/footer.html"></nav>
