<meta charset="UTF-8" />
<script src="/cdm_chie/cdm/js/jquery-3.3.1.min.js"></script>

<script src="/cdm_chie/cdm/custom/js/pentaho_utilities.js"></script>
<script src="/cdm_chie/cdm/js/lodash.min.js"></script>
<script src="/cdm_chie/cdm/js/jquery-migrate-3.0.0.min.js"></script>
<script src="/cdm_chie/cdm/js/jquery-ui.js"></script>
<script src="/cdm_chie/cdm/js/popper.min.js"></script>
<script src="/cdm_chie/cdm/js/tooltip.min.js"></script>
<script src="/cdm_chie/cdm/js/bootstrap.js"></script>
<script src="/cdm_chie/cdm/content/js/uploadFile.js"></script>


<nav data-load="header.html"></nav>
<!-- /subnavbar -->
<div class="main" style="display: none;">
  <div class="main-inner">
    <div class="container">
      <div class="row" >
	  
		  <div class="span4">
          <div class="widget">
            
            <!-- /widget-header -->
           <div class="widget-header"> <i class="icon-calendar"></i>
              <h3> Issues </h3>
            </div>
			<div id="issuesFile" class="widget-content">
			<form action ="/cdm_chie_utils/uploadFile.php"method="post" enctype="multipart/form-data" >
				<label for="file">Seleccione el archivo a cargar</label>
				<input type="file" id="file" name="file" multiple>
				<input id = "bttn"type="submit" name="submit" class="sbtn" value="Cargar" />	 
					 
			</form>
			<!-- /area-chart --> 
            </div>
			<!-- /area-chart --> 
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget -->
      </div>
	  
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>
<!-- /main -->
</div>
<!-- /extra -->
<footer data-load="footer.html"></footer>
