/*------------------------------------------------------------------
Bootstrap Admin Template by EGrappler.com
------------------------------------------------------------------*/



/*------------------------------------------------------------------
[1. Shortcuts / .shortcuts]
*/

.shortcuts {
	text-align: center;	
}

.shortcuts .shortcut { 
	width: 22.50%;
	display: inline-block;
	padding: 12px 0;
	margin: 0 .9% 1em;
	vertical-align: top;	
	
	text-decoration: none;
	
	background: #f9f6f1;
	
	border-radius: 5px;
}

.shortcuts .shortcut .shortcut-icon {
	margin-top: .25em;
	margin-bottom: .25em;
	
	font-size: 32px;
	color: #545454;
}

.shortcuts .shortcut:hover {
	background: #00ba8b;
}

.shortcuts .shortcut:hover span{
	color: #fff;
}

.shortcuts .shortcut:hover .shortcut-icon {
	color: #fff;
}

.shortcuts .shortcut-label {
	display: block;
	
	font-weight: 400;
	color: #545454;
}

/*------------------------------------------------------------------
[2. Stats / .stats]
*/

.stats {
	width: 100%;
	display: table;
	padding: 0 0 0 10px;
	margin-top: .5em;
	margin-bottom: 1.9em;
}

.stats .stat {
	display: table-cell;
	width: 40%;
	vertical-align: top;
	
	font-size: 11px;
	font-weight: bold;
	color: #999;
}

.stat-value {
	display: block;
	margin-bottom: .55em;
	
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -2px;
	color: #444;
}

.stat-time {
	text-align: center;
	padding-top: 1.5em;
}

.stat-time .stat-value {
	color: #19bc9c;
	font-size: 40px;
}

.stats #donut-chart {
	height: 100px;
	margin-left: -20px;	
}





/*------------------------------------------------------------------
[3. News Item / .news-items]
*/

.news-items {
	margin: 1em 0 0;
}

.news-items li {
	display: table;
	padding: 0 2em 0 1.5em;
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px dotted #CCC;
}

.news-items li:last-child { padding-bottom: 0; border: none; }

.news-item-date {
	display: table-cell;
}

.news-item-detail {
	display: table-cell;
}

.news-item-title {
	font-size: 13px;
	font-weight: 600;
}

.news-item-date {
	width: 75px;
	vertical-align: middle;
	text-align: center;
	
}

.news-item-day {
	display: block;
	margin-bottom: .25em;
	
	font-size: 24px;
	color: #888;
}

.news-item-preview {
	margin-bottom: 0;
	
	color: #777;
}

.news-item-month {
	display: block;
	padding-right: 1px;	
	
	font-size: 12px;
	font-weight: 600;
	color: #888;
}



/*------------------------------------------------------------------
[4. Action Table / .action-table]
*/

.action-table .btn-small {
	padding: 4px 5px 5px;
	
	font-size: 10px;
}

.action-table .td-actions { 
	width: 80px; 
	
	text-align: center; 
}

	.action-table .td-actions .btn { 
		margin-right: .5em;		
	}
	
	.action-table .td-actions .btn:last-child { 
		margin-rigth: 0; 		
	}
	
	
	
#big_stats 
{ 
	width: 100%; 
	display: table;
	margin-top: 1.5em;
	
	
}

.big-stats-container .widget-content {
	border:0;
}

#big_stats .stat
{
	width: 25%;
	height: 90px;
	text-align: center;
	display: table-cell;
	padding: 0;
	position: relative;
	
	border-right: 1px solid #CCC;
	border-left: 1px solid #FFF;
}
#big_stats  i { font-size:30px; display:block; line-height: 40px; color:#b2afaa;}
#big_stats .stat:hover i {color:#19bc9c;}

h6.bigstats{margin: 20px;
border-bottom: 1px solid #eee;
padding-bottom: 20px;
margin-bottom: 26px;}

#big_stats .stat:first-child {
	border-left: none;
}

#big_stats .stat:last-child {
	border-right: none;
}

#big_stats .stat h4
{
	font-size: 11px;
	font-weight: bold;
	color: #777;
	margin-bottom: 1.5em;
}

#big_stats .stat .value
{
	font-size: 45px;
	font-weight: bold;
	color: #545454;
	line-height: 1em;
}



@media all and (max-width: 950px) and (min-width: 1px) {
	
	#big_stats {
		display: block;
		margin-bottom: -40px;
	}
	
	#big_stats .stat {
		width: 49%;
		display: block;
		margin-bottom: 3em;
		float: left;
	}	
	
	#big_stats .stat:nth-child(2) {
		border-right: none;
	}
	
	#big_stats .stat:nth-child(3) {
		border-left: none;
	}
	
}

@media (max-width: 767px) {
	#big_stats .stat .value {
		font-size: 40px;
	}
}
	
	
	
	
@media (max-width: 979px) {
	
	.shortcuts .shortcut {
		width: 31%;
	}
}


@media (max-width: 480px) {
	
	.stats .stat {
		
		margin-bottom: 3em;
	}
	
	.stats .stat .stat-value {
		margin-bottom: .15em;
		
		font-size: 20px;
	}
	
	.stats {
		float: left;
		
		display: block;
		
		margin-bottom: 0;
	}
	
	#chart-stats {
		margin: 2em 0 1em;		
	}
	
	.shortcuts .shortcut {
		width: 48%;
	}
}
.c3-tooltip-container tbody tr th {
	background-color: #aaa !important;
}
.c3-shapes c3-shapes-VALOR c3-areas c3-areas-VALOR g{
	opacity:0.5 !important;
}

.fixed {
    position: fixed;
    top: 34px;
    width: 83.33333333%;
    margin: 0 auto;
}

.card-content.row {
    /* No borrar*/
    margin: 0 auto;
    display: block;
    overflow-y: hidden !important;
}

.chart_area {
    height: 37px;
    max-height: 36.37px;
    /* width: 100%;
    max-width: 100%; */
}



.fa-equal:before {
    /* No borrar*/
    content: "=";
    font-weight: 900;
    vertical-align: text-bottom;
    color: rgb(118, 113, 113);
}

.glyphicon-triangle-top {
    color: green;
}

.glyphicon-triangle-bottom {
    color: red;
}

.table {
    /* No borrar*/
    margin: 0 !important;
    font-family: Arial;
    border-collapse: collapse;
    background-color: white;
    font-size: 8pt;
    padding-left: 3px !important;
    padding-right: 3px !important;
}




.table tr {
    /* No borrar*/
    height: 36.5px;
}

.table tbody tr td,
.table tbody tr th {
    /* No borrar*/
	text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.table thead tr th{
    /* No borrar*/
	text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.table td {
    /* No borrar*/
    text-align: center;
    vertical-align: middle !important;
    padding: 0px;
}

.table tbody th {
    /* No borrar*/
    vertical-align: middle !important;
    padding-left: 0px;
    padding-right: 8px;
    height: 36.5px;
}


.table tbody tr td{
    background: inherit;
}

.category_kpi {
    /* No borrar*/
    /* background: linear-gradient(#5073AE, #CFCFCF); */
    background: #53926C !important;
    text-align: left !important;
    font-size: 15px;
    color: white;
}

.title {
    /* No borrar*/
    text-align: center;
    width: 25%;
}

.table th:first-of-type {
    /* No borrar*/
    padding-left: 5px;
}


/* Custom Scroller */


/* No borrar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
}

table {
    /* No borrar*/
    table-layout: fixed;
}


/* LOADING */


/* No borrar*/

#loading {
    background: white repeat scroll 0 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999;
}

td .fa-circle:before {
    /* No borrar*/
    font-size: 40px;
    display: inline-block;
    position: relative;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
	padding-right:25px;
}

td .fa-circle {
    /* No borrar*/
    height: 20px;
    display: inline-block;
    width: 20px;
    vertical-align: middle;
}

.table tbody tr:not(.groupTr):nth-child(even) {
    /* No borrar*/
    background: #f1f1f1
}

.card .card-content.row {
    /* No borrar*/
    padding: 0px;
}

.card .card-content.row .col-sm-12 {
    /* No borrar*/
    padding: 0px;
}


/*SWITCH BUTTON*/

#switchButton {
    /* left: 980px; */
    /*Si se quita, el switch quedará en la parte  derecha del div padre*/
    margin: 17px 6px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.slider {
    background-color: #5073AE;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}


/*FIN SWITCH BUTTON*/

#tabDashboard {
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(245, 245, 245);
}

#tabDashboardDetails {
    display: none;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(245, 245, 245);
}

#groupHeader {
    font-family: &quot;
    Lucida Grande&quot;
    ,
    &quot;
    Lucida Sans Unicode&quot;
    ,
    Arial,
    Helvetica,
    sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(80, 115, 174);
    padding-left: 7px;
    margin: 5px 5px 5px 5px;
}

#monthlyEvolution {
    border: 1px black solid;
}

.KPIName {
	text-align: left !important;
    font-weight: bold;
}

.KPIName_disable {
	text-align: left !important;
    color: #736E6E;
    font-weight: bold;
}

.monthlyEvolution {
    height: 60px;
    width: 100%;
    position: relative;
}

.familyColumn {
    /* Se tendría que regular el tamaño de la columna según el nº de familias que haya*/
    width: 32.5%;
    border-radius: 4px;
    padding-left: 0px;
    padding-right: 0px;
    background: white
}

.familyColumnCenter {
    margin-left: 15px;
    margin-right: 15px;
    width: 32.5%;
    border-radius: 4px;
    padding-left: 0px;
    padding-right: 0px;
    background: white
}

.KPIColumn {
    border-top: solid #CCCCCC 1px;
    /* border-right: solid 0.1px;
    border-color: #CCCCCC; */
    padding: 0px;
}

.colMonthlyEvolution {
    padding-left: 0px;
    padding: 0px;
}

.colValueTrend {
    color: #736E6E;
    font-size: 25px;
    font-weight: bold;
    padding-right: 0px;
    display: block;
    text-align: center;
    height: 60px;
    padding-top:5px;
    padding-left:0px;
}

.colValue {
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    vertical-align: sub;
}

.colTrend {
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: sub;
    width:19px;
    line-height: 29px;
}

.KPIValue {
    display: inline-block;
}

.KPITrend {
    font-size: 19px;
}

.trend{
	text-align: center;
}

.colTrendNumber {
    display: inline-block;
}

.KPITrendNumber {
    font-size: 13px;
}

.trendIcon{
	font-size: large;
}

.collapse-icon
{
    float:right;
}

.collapse-icon > .glyphicon {
    color: white;
}