
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/jquery-shim.attr.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/jquery.bgiframe.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/jquery.colorpicker.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/jquery.corner.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/jquery.form.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/jquery.impromptu.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/jquery.jeditable.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/jquery.json2dom.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/jquery.notifyBar.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/jquery.treeTable.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/jquery.multiSelect.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/jquery.jqModal.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/jquery.tools.min.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/jqueryFileTree.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/insertAtCaret.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-config.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-commands.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-indexmanager.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-propertiesmanager.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-tableoperations.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-tablemanager.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-palletemanager.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-wizardmanager.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-wizard-olapobject.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-datasources.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-datasources-generic.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-datasources-wizards.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-prompt-properties.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-prompt-wizard.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-layout-mobile.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-layout.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-components.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-components-generic.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-components-selectors.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-components-charts.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-components-others.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-util.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/repositoryHelper.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/cdf-dd-base.js"/></script>
<script language="javascript" type="text/javascript"
              src="#{WEBAPP_PATH}js/editorHelper.js"/></script>
