.bootstrap-datetimepicker-widget {
	left: auto !important;
	right: 0 !important;
}

.notarrow {
	background : none !important;
}

.dataTables_length label select{
	display: inline !important;
	max-width: 50px;
}

.dataTables_filter label input{
	display: inline !important;
}

div.dt-buttons {
	text-align:center;
	width:100%;
	 margin: 0 auto;
}

.dataTable {
	font-size: 11px;
	color: #222222;
}

.daterangepicker .drp-calendar{
	max-width:none !important;
}


.datatable thead {
	background-color: rgb(0,122,51);
	color: white;
}

tr.breakrow td.glyphicon  {
    background-color: rgba(192,181,97, 0.5) !important;
	color: black;
}

tr.breakrow  {
    background-color: rgba(192,181,97, 0.5) !important;
	color: black;
}

.filter {
	width: 53.8%;
}

.areaName {
	max-width: 250px;
}

.wrapped {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spinnerContent{
	position: absolute;
	background-color: white;
	z-index: 99999;
	width: 100%;
	height: 100%;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-right-color: transparent;
  border-top: 16px solid #087021;
  width: 60px;
  height: 60px;
  position: relative;
  top: 40%;
  margin: 0 auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.list-group-item {
  padding: 3px !important;
 }
 
 .well{
	padding: 10px;
 }
 
.fa-circle:before {
    content: "\25cf";
    font-size: 2em;
}

.red-text {
    color: red !important;
}

.green-text {
    color: green !important;
}

.orange-text {
    color: #e06325 !important;
}

div.pq-select-button{
	min-width: 130px;
}

.pq-select-text>.pq-select-item {
	padding: 0 0 0 3 !important;
}

#ReportingPeriodCalendar{
	margin-top: 0px !important;
	padding-top: 7px;
}

#ReportingPeriodCalendar > input{
	height: 26px;
	width: 120px;
	padding-right: 0px;
    padding-left: 6px;
	color: #53926C;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
}

#ReportingPeriodCalendar{
	width:142px;
	float: right;
}

.input-group-addon {
	float: right;
	color: #53926C;
	font-size: large;
	padding-top: 2px;
}

.list-unstyled {
	list-style-type: none;
}

/* pqSelect */
.pq-select{
	font-family: Verdana;
	font-size: 8pt;
	margin-right: 5px;
	width: 140px;
	cursor: pointer !important;
}

div.pq-select-button{
	min-width: 150px;	
	background: white;
}

.pq-select-popup {
	min-width: 300px;
}

.pq-select-popup input{
	float: left;
}
.span4{
	width:33%;
	
}